extends layout
block title
  title My Home Page
block content
 include styles
 include scripts   
  div.container
    div(ng-app="module88" ng-controller="corecontroller as corectrl")
        p(id='parId')  {{corectrl.concatenate()}}
        p(id='parId1')  {{corectrl.concatenate()}}
        p  {{testScope}}
        p  {{'Angularjs ver 1.29'}}
        ul(style="list-style: none;margin:0;padding:0") 
          - each app in list
            div
                li
                  div
                    span 
                        button(class="btn-danger") Update
                        input(type="text" value = "#{app}" style="background-color:blue;color:white")                        
    div.footer
        button(class="btn-danger") This is a button to press        
        script(type="text/javascript").  //- the syntax for a comment
             var done= function(){
             var uu = $("#parId").text('Hello hello hello hello'); 
             var uu = $("#parId1").text('Hello1 hello1 hello1 hello1');}
        button(onclick="done()") Press me now
