.serialInfo
{
color: violet;
font-weight: bolder;
}

div.centre
    {
      width: 96%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top:5px;
    }

 .loginInvisible
 {
	display:none;
 } 

  .loginVisible
 {
	display:block;
 }  


 .textStyle{

 	color:red;
 } 